* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 55);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(34, 34, 118);
    ;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(163, 163, 236);
    font-size: 1.01rem;
}

main hr {
    border: 0;
    background: rgb(163, 163, 255);
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.leftSection .buttons{
    padding: 50px 0;
}

.leftSection .btn{
    text-decoration: none;
    padding: 12px;
    background: rgb(21, 21, 116);
    color: white;
    border: 2px solid white;
    border-radius: 32px;
    font-size: 20px;
    cursor: pointer;
}

.rightSection img {
    width: 100%;
    margin: 50px 0s;
    border: 2px solid black;
    border-radius: 80px;
}

.purple {
    color: rgb(179, 120, 234);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(179, 120, 234);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 120vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 200px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -8px;
}

.vertical-title{
    position: relative;
    top: 75px;
    left: -70px;
    width: 150px;
    font-size: 16px;
}        

.vertical-desc{
    position: relative;
    top: 86px;
    left: -70px;
    color: gray;
    width: 150px;
    font-size: 13px;
}

.video-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.622);
}

footer{
    background-color: rgb(37, 37, 55);
}
.footer{
    display: flex;
    padding : 23px 122px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
}

.footer > div{
    width: 223px;
}

footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
}
